*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
@media screen and (max-width:414.15px) {
.mgop{
    display: none;
}

    .jk1{
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    font-size: 15px !important;
} 




}
    


.img{
    background-image: url(./Marriage/Characteristics-Of-A-Successful-Marriage.jpg);
    height: 555px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
   
  
}
.text{
    text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 2px;
}
  
 .btn1{
    border: none;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
     width: 25% !important;
 }
 .btn1:hover{
     background-color: cadetblue;
     
 }
 .jk{
     top: 510px;
     position: fixed;
     z-index:999 ;
 }
 .img2{
    background-image: url('./Marriage/getty_485947751_112122.jpg' );
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
 }
 .btn2{
     display: flex;
     justify-content: center;
     width: 150px;
     margin-left: 50%;
 }
 .jk1{
    padding-left: 15rem;
    padding-right: 15rem;
}
.img3{
    background-image: url('./Marriage/bridal-bouquet-wedding-bouquet-bouquet-romance-wedding-flowers.jpg');
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
   
}
.text3{
    position: absolute !important;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
      letter-spacing: 2px;
}
.img4{
    background-image: url('./Marriage/wedding_location.jpg' );
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}
.part2{
    text-align: center;
    background-color: white;
    color: pink;
   
}
.story1{
    text-align: center;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-bottom: 60px;  
}
.story{
    background-color: rgb(253, 246, 246);
}

.table2 input{
    height: 250px;
    width: 20rem;
    
    
}
.mainn{
    margin-top: 5%;
    color: rgb(232, 198, 185);
    /* background-color: rgb(209, 246, 230) ; */
    /* margin-left: 25%; */
    /* margin-right: 22%; */
}
.main{
   /* margin-top: 7%; */
   background-color: rgb(209, 246, 230);
}
.inputt{
    padding: 0.5rem;
    width: 30rem;
}
.scroll{
    overflow-y: scroll;
}
.submit1{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.submit{
    background-color: pink;
    width: 12em;
    padding: 0.5rem;
    border-radius: 5%;
}
.love{
    margin-left: 15rem;
    margin-right: 15rem;
}
.bg-img1{
    background-image: url("./imgs/heart-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.date-div{
    height:100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 28, 28, 0.915);
    color: white;
}

  .horizontal h1{
    overflow: hidden;
    text-align: center;
 }
  .horizontal h1:before,
  .horizontal h1:after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px; 
    position: relative;
    vertical-align: middle;
    width: 50%;
}
 .horizontal h1:before{
    right: 00.5rem;
    margin-left: -50%;
}
 .horizontal h1:after{
    left: 0.5em;
    margin-right: -50%;
}
.groom{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.groomm p{
    text-align: center;
    margin-left: 25%;
    margin-right: 15%;
    padding-bottom: 10px;
}
.grid-item{
overflow: hidden;
}
.grid-item .hidden img{
    height: 100%;
    width: 100%;
}
.grid-item img:hover{
    animation-name: shake;
    animation-duration: 0.7s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode:forwards;
    /* animation-direction: normal; */
    /* animation-timing-function: ; */
}
@keyframes shake{
    from{
        transform: scale(1) rotate(0deg);
        /* filter: sepia(90%); */
        filter: brightness(90%) ;


    }
    to{
        transform: scale(1.2) rotate(10deg);
        filter: brightness(60%) ;
    }
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196f3; */
    gap: 20px;
    /* padding: 10px; */
}
.grid-item{
    background-color: rgb(235, 229, 229);
    border:5px solid(0,0,0,0.8) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

